<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    <title>Elementary Theme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Next Step Technology">

    {# this is a temporary solution to the problem of having #}
    {# @import statements in the middle of minified CSS #}
    {% if not offline %}
      {# import webfonts #}
    {% endif %}

    {% block css %}
      {{ aposStylesheets(when) }}
    {% endblock %}
    
    !%aposgenhead%!
    
    {% block js %}
      {{ aposScripts(when) }}
    {% endblock %}
  </head>
  
  {# bodyClass should be a block but nunjucks doesn't have conditional extends yet, #}
  {# so we're rendering an inner layout then passing the results to an outer one. #}
  {# We also pull out bodyClass as a special case and pass it in here. #}
  <body id="page-top" class="index {{ bodyClass }} {% if user %}logged-in{% else %}logged-out{% endif %}">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
    {% block beforeBody %}
    {% endblock %}

    {% block body %}
    {% endblock %}=
    
    !%aposgenend%!
    
    {# Must be present in the page in order to use apos's widget editors, admin dialogs, etc. #}
    {{ aposTemplates(when) }}
    <script type="text/javascript">
      {# Set up apos.data properties pushed with apos.pushGlobalData and req.pushData #}
      {# Do not wait around for DOMready as it may be too late for code already waiting #}
      {# for DOMready to see the data #}
      {{ data }}

      $(function() {
        {# Invoke calls set up with apos.pushGlobalCall and req.pushCall #}
        {{ calls }}
      });
    </script>
  </body>
</html>
